---
layout: page
title: Johnhckuo
---

{% for post in site.posts %}
<div class="row">
	<div class="small-12 columns">

		<sub>{{ post.date | date: '%B %d, %Y' }}</sub>
		<a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>

	  	{{ post.excerpt }}

		Tags:<ul class="inline-list blogUl" style="margin-top:-1.1em;">
			{% for category in post.categories %}
			<!-- <li class="blogLi"><h6 style="margin-top:0em;"><a href="/#!/{{ category }}"><i class="fa fa-tag"></i> {{ category }}</a></h6></li> -->
			<li class="blogLi"><h6 style="margin-top:0em;"><a href="/blog/{{ category }}"><i class="fa fa-tag"></i> {{ category }}</a></h6></li>
			{% endfor %}
		</ul>

	</div>
</div>
{% endfor %}
