---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>{{ site.description | markdownify }}</p>
							<ul class="icons">
						    {% for socloc in site.social %}
						    {% if socloc[1] %}
						    {% if socloc[0] == 'email' %}
						    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-envelope-o"
						           ></a></li>
						    {% else %}
						    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }}"
						           ></a></li>
						    {% endif %}
						    {% endif %}
						    {% endfor %}
						  </ul>
						</div>
						<a href="#one" class="more scrolly">More about me</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>I am a programmer<br />
								 with various different interests</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
								fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
							</header>
							<ul class="icons major">
								<li><span class="icon fa-users major style1"></span><span class="label">I'm a team player</span></li>
								<li><span class="icon fa-heart-o major style2"></span><span class="label">I am passionate</span></li>
								<li><span class="icon fa-code major style3"></span><span class="label">I got mad skills</span></li>
							</ul>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<header class="major">
							<h2>Experience</h2>
						</header>
						<section class="spotlight">
							<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
								<h2>VR Service Developer Intern</h2>
								<p>HTC Vive | 2017.03 - 2017.08</p>
								<p>Develop viveport VR advertisement SDK and assetbundle using Unity</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
								<h2>Blockchain Research Assistant</h2>
								<p>National Chengchi University | 2016.09 - 2017.01</p>
								<p>Applying Ethereum smart contract in insurance domain.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
								<h2>IT Consultant Intern</h2>
								<p>KPMG | 2016.01 - 2016.03</p>
								<p>Conducting a market research and user experience research on the new App produced by KPMG, and propose some suggestions on features and modification of user experience.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
								<h2>Front-end Developer Intern</h2>
								<p>XYZ Printing | 2015.09 - 2016.01</p>
								<p>Responsible for the web development of China using Angular.js and Sass. Using Source Tree to co-work with other engineers. And adding/updating new features of the websites using JavaScript/HTML and some modern packages, e.g. Bootstrap, jQuery.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
								<h2>Founder &amp; Organizer</h2>
								<p>IMPioneer Voluntary Group | 2013.07 - 2014.06</p>
								<p>This voluntary group holds a computer science camp at schools that lack teaching resources during each summer.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
								<h2>Prgramming Lecturer</h2>
								<p>NUKIM Web Developing Camp | 2014.06 - 2014.07</p>
								<p>Lecturing web development tutorial to students from senior high school.</p>
							</div>
						</section>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Portfolio</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
								fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
							</header>
							<ul class="features">
								<li class="icon fa-laptop">
									<h3>Block Farm</h3>
									<code>Ethereum</code>
									<code>Solidity</code>
									<code>Javascript</code>
									<p>A web-based blockchain application.</p>
								</li>
								<li class="icon fa-laptop">
									<h3><a href="http://johnhckuo.github.io/3D_Modeling_System/">Web-based 3D Modeling App</a></h3>
									<code>Three.js</code>
									<code>Node.js</code>
									<code>Javascript</code>
									<p>An web-based 3D modeling application which enable users to create their 3D content without installing sophiticated software.<br>
									This application can parse certain 3D file (STL, OBJ) and render it on the website using Three.js.</p>
								</li>
								<li class="icon fa-paper-plane-o">
									<h3>Web-Based AR Application</h3>
									<code>Python</code>
									<code>Node.js</code>
									<code>OpenCV</code>
									<p>Building a web-based AR App by using Twisted Web Socket, Python, OpenCV, and Three.js.<br>
									App will identify some certain patterns and render corresponding 3D object on certain points.</p>
								</li>
								<li class="icon fa-code">
									<h3>Island Terrain Generator</h3>
									<code>Three.js</code>
									<code>WebGL</code>
									<code>Javascript</code>
									<p>Randomly generating island terrain using diamond-square algorithm.</p>
								</li>
								<li class="icon fa-headphones">
									<h3>Fireflies Simulator</h3>
									<code>Three.js</code>
									<code>WebGL</code>
									<code>Javascript</code>
									<p>Simulate fireflies flying route and handle the transform of light.</p>
								</li>
								<li class="icon fa-heart-o">
									<h3>Day/Night Transition Simulator</h3>
									<code>Three.js</code>
									<code>WebGL</code>
									<code>Javascript</code>
									<p>Simulate the transition of terrain shadow and color in Three.js.<br>
									Randomly generated Minecraft-style terrain.</p>
								</li>
								<li class="icon fa-flag-o">
									<h3>Blockchain Oracle Tutorial</h3>
									<code>Ethereum</code>
									<code>Truffle</code>
									<code>Solidity</code>
									<p>Record some basic tutorials and reminders of using Oracalize. <br>
									Using Oraclize to build the connection between blockchain and third-party API.</p>
								</li>
								<li class="icon fa-flag-o">
									<h3>Ethereum Contract Tutorial</h3>
									<code>Ethereum</code>
									<code>Truffle</code>
									<code>Solidity</code>
									<p>Share some basic Ethereum smart contract 101 and Solidity programming tutorial. <br>
									This demo used Truffle &amp; Testrpc as our testing framework.</p>
								</li>
								<li class="icon fa-flag-o">
									<h3>Decentralized Insurace Smart Contract</h3>
									<code>Ethereum</code>
									<code>Javascript</code>
									<code>Solidity</code>
									<p>Building a decentrailze insurance application using Ethereum platform. <br>
									This project uses Truffle as our testing framework.</p>
								</li>
								<li class="icon fa-flag-o">
									<h3>Taiwan real-time disaster visualizer </h3> <br>
									<h6>* Data sources currently unavailable</h6>
									<code>D3.js</code>
									<code>Ajax</code>
									<code>Canvas.js</code>
									<p>Fetch the open data released by government and visualize these data for greater convenience(D3.js、C3.js、Canvas.js). <br>
									Using Ajax to dynamically updating disaster data. <br>
									Using Wireframe、Gliffy, and Cacoo as interface designing tools.</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Arcue ut vel commodo</h2>
								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">Activate</a></li>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section>
