---
layout: page
title: Tags
---


<div id="archives">
{% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}

    <h3>{{ tag_name }} <span>({{ site.tags[tag_name].size }})</span></h3>
    <a name="{{ tag_name | slugize }}"></a>
    <ul>
      {% for post in site.tags[tag_name] %}
      <article class="archive-item">
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
      </article>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
</div>
